%html
  %head
    %link{:rel => "stylesheet", :href => "css/main.css"} 
    %script{:type => "text/javascript", :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}


    %title Time Machine, db
  %body

    %div.test #{@foo}
