
%div#main_menu
  %a{:href => "/"} home
  %a{:href => "/db"} db
  %a{:href => "/env"} env

%div.ticker#ticker ticker

%div.main_timer#main_timer
  %span#button_bar
    %img.button#start_button{:src => "img/Play.png"}
    %img.button#stop_button{:src => "img/Stop.png"}
  %div#start_time_display
  %div#stop_time_display

  %div#start_time_millis
  %div#stop_time_millis

%div.report_container#report_container
  report_container
  %div#current_report
    = @foo
