%html
  %head
    %link{:rel => "stylesheet", :href => "css/main.css"} 
    %script{:type => "text/javascript", :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}

    %script{:type => "text/javascript", :src  => "script/lib/EventAggregator.js"}
    %script{:type => "text/javascript", :src  => "script/lib/jquery.timers.js"}
    %script{:type => "text/javascript", :src  => "script/lib/Page_Loader.js"}
    %script{:type => "text/javascript", :src  => "script/index.js"}

    %title Time Machine
  %body

    %div.ticker#ticker ticker

    %div.main_timer#main_timer main_timer

    %div.report_container#report_container report_container