
%div.ticker#ticker ticker

%div.main_timer#main_timer
  %span#button_bar
    %img.button#start_button{:src => "img/Play.png"}
    %img.button#stop_button{:src => "img/Stop.png"}
  %div
    %span#start_time_display
    %span
      %img.button#edit_start_time_button{:src => "img/Pencil.png", :width => "24px"}
    %span
      %input#start_time_edit_box{:type => "text"}

  %div#stop_time_display

  %div#start_time_millis
  %div#stop_time_millis

%div.report_container#report_container
  report_container
  %div#current_report
    = @report_html
