%html
  %head
    %link{:rel => "stylesheet", :href => "css/main.css"} 
    %script{:type => "text/javascript", :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}

    %script{:type => "text/javascript", :src  => "script/lib/EventAggregator.js"}
    %script{:type => "text/javascript", :src  => "script/lib/jquery.timers.js"}
    %script{:type => "text/javascript", :src  => "script/lib/main_timer.js"}
    %script{:type => "text/javascript", :src  => "script/lib/Page_Loader.js"}
    %script{:type => "text/javascript", :src  => "script/index.js"}

    %title Time Machine
  %body

    %div.ticker#ticker ticker

    %div.main_timer#main_timer
      %span#button_bar
        %img.button#start_button{:src => "img/Play.png"}
        %img.button#stop_button{:src => "img/Stop.png"}
        %img.button#pause_button{:src => "img/BluePause.png"}
      %div#start_time_display
      %div#stop_time_display

      %div#start_time_millis
      %div#stop_time_millis

    %div.report_container#report_container report_container
