%html
  %head
    %link{:rel => "stylesheet", :href => "css/main.css"} 
    %link{:rel => "stylesheet", :href => "css/timePicker.css"} 
    %script{:type => "text/javascript", :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}

    %script{:type => "text/javascript", :src  => "script/lib/EventAggregator.js"}
    %script{:type => "text/javascript", :src  => "script/lib/jquery.timers.js"}
    %script{:type => "text/javascript", :src  => "script/lib/jquery.timePicker.min.js"}
    %script{:type => "text/javascript", :src  => "script/lib/main_timer.js"}
    %script{:type => "text/javascript", :src  => "script/index.js"}
    %script{:type => "text/javascript", :src  => "script/lib/Page_Loader.js"}

    %title Time Machine
  %body
    %a{:href => "/"}home
    %a{:href => "/env"}env

    = yield
  
